<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="Comment">
  	<insert id="save" parameterType="comment">
  		insert into comment_table (b_number, c_writer, c_contents, c_date)
  			values(#{b_number},#{c_writer},#{c_contents},now())
  	</insert>
  	
  	<select id="findAll" parameterType="long" resultType="comment">
  	select * from comment_table where b_number=#{b_number}
  	</select>
  </mapper>